*{
    color: blue;
}
.nav-bar {
    display: flex;
    width: 1200px;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


}
ul {    
display: flex;

}
li {
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: auto;
}
.left {
    display: flex;
    margin: auto;
    text-align: center;
}
.right {
    display: flex;
    margin: auto;
    text-align: center;
}