* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Goldman", cursive;
    position: absolute;
    height: 100vh;
  }
  header{
    position: fixed;
    width: 100%;
  }
  main {
  position: static;
    padding-top: 90px;
    margin-top: 10vh;
  }
  footer {  display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
    position: fixed; bottom: 0px;
    }
  footer p {
    position: static;
    font-weight: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
    position: relative;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
  }
  .drop-p2{
    display: none;
position: absolute;
background-color: white;
min-width: 20vw;
z-index: 1;
box-shadow: 0rem 0.5rem 1rem 0rem black; 
  }
  .drop-p2 a {
color: black;
display: block;
text-align: left;
  }
  .dropdown:hover .drop-p2{
display: block;
  }
  nav img {
    width: 5vw;
  }
  h1,h2,h3 {
  font-weight: bold;  
  text-align: center;
  }
   .background-index{background-image: url(afbeeldingen/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .h1-index {
    padding: 20px;
    text-align: center;
    margin-top: 225px;
    font-size: 35px;
  }
  .body-java {
    width: 100%;
    height: 200px;
    background-color:black;
    color: white;
  }
  .div-java {
    display: flex;
    text-align: center;
  }
  .p-java {
    float: left;
    margin-top: 50px;
    font-size: 24px;
  }
.img-java {
 float: right;
  margin-left: auto;
  margin-right: auto;
}  
.body-sql {
    width: 100%;
    height: 200px;
    background-color:black;
    color: white;
}
.img-SQL {
 float: right;
 margin-left: auto;
 margin-right: auto;
}
.p-SQL {
 float: left;
 margin-left: auto;
 margin-right: auto;
  font-size: 15px;
}
.h1-java {
  text-align: center;
}
.h1-sql{
  text-align: center;
}
.h2-SQL {
  text-align: center;
  float: left;
  margin-left: auto;
  margin-right: auto;
}
h1,h2,h3{
  font-weight: bold;
  margin: 16px 16px 16px 16px;
}
body {
    font-family: 'Goldman', sans-serif;
}
